.my-info {
  position: relative;
}
.my-ul {
  width: 640px;
  display: flex;
  flex-wrap: wrap;
}
.my-ul li {
  width: 50%;
}
.my-avatar {
  position: absolute;
  top: 50%;
  right: 40px;
  width: 110px;
  transform: translateY(-50%);
}